.footer__container{
    min-height: 150px;
    background-color: #063d90;
    color: white;
    display: flex;
    align-items: center;
}
.footer__list{
    flex: 1;
}
/* .footer__list, .footer__list>p{
    border: 1px solid white;
} */
.footer__list__title{
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 17px;
}
.footer__list__link{
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 15px;
    color: #ced8e8;
    cursor: pointer;
    transition: color 200ms ease;
}
.footer__list__link:hover{
    color: #ebedf0;
}